.layout {
  display: flex;

  .main{
    margin-left: 290px;
    position: relative;
    width: 100%;
  .container {
    flex: 8;

  h2{
    padding:30px 40px 10px 40px;
  }

  .wrapper{
    margin-left: 20px;
    .char{
      width:98%;
      padding: 20px 0px;
    }
  }
  .charts {
    padding: 5px 20px;
  }

    .widgets{
      display: flex;
      padding: 20px;
      gap:40px;
    }

    .listContainer {
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }

    .list {
      display: flex;
      width: 100%;
      .listContainer {
        flex: 6;
      }
    }
  }
}
}



//for sidebar
.sidebar {
  display:block;
  position: fixed;
  align-items: center;
  border-right: 0.5px solid #DADADA;
  height: 100%;
  width: 236px;
  background-color: #007AFF;
  padding: 5vh 3vh;
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 24px;
      font-weight: bold;
      color: #FFFFFF;
     
    }
  }

  .search {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 236px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;

    input {
      border: none;
      outline: none;
      background: transparent;

      &::placeholder {
        color: #C3C3C3;
        font-size: 15px;
      }
    }
    .icon{
      color: #B4B4B4;
      font-size: 18px;
      margin: 10px;
    }
  }

  .center {
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px 0px;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }

        .icon {
          font-size: 30px;
          color: #FFFFFF;
        }

        span{
            font-size: 18px;
            font-weight: thin;
            color: #FFFFFF;
            margin-left: 10px;
        }
      
      }
    
    }
  }


  .bottom {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        padding: 10px 0px;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }

        .icon {
          font-size: 30px;
          color: #FFFFFF;
        }

        span{
            font-size: 18px;
            font-weight: light;
            color: #FFFFFF;
            margin-left: 10px;
        }
      
      }
    
    }
  }

}


//for table

.cellWrapper{
  display: flex;
  align-items: center;
}
.rating{
  display: flex;
  align-items: center;
  justify-content: center;
} 

 .icon{
  color:#FBBC05;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.datatable {
  height: 500px;
  
  .datatableTitle{
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link{
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

   
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    &.active {
      background-color: #EAF5FF;
      color: #1081E8;
    }
    &.pending {
      background-color:#FFEEBD;
      color: #FBBC05;
    }
    &.pending {
      background-color:#FFEEBD;
      color: #FBBC05;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellDecision {
    display: flex;
    align-items: center;
    gap: 15px;

    .editButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: #00AEB8;
      background-color:#E8F8F9;
      cursor: pointer;
    }
    
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: #EA4335;
      background-color:#FFCBC6;
      cursor: pointer;
    }
  }
}



//for title 
.title-bar{
  border-bottom: 0.5px solid #DADADA;
  width: 100%;
  overflow: auto;

  .title{
      padding: 2% 30px;
      text-align: center;
      font-size: 32px;
      font-weight: bold;
  }
}
